<nav class="navbar">
    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Products</a>
        <a href="{% url 'about' %}">About</a>
        <a href="#">Contact</a>

        <!-- Dropdown inside nav-links -->
        <div class="dropdown">
            <a href="#" class="dropbtn">Categories&nbsp; ▼</a>
            <div class="dropdown-content">
                {% for category in categories %}
                <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'category' catname=category.name %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'update_user' %}" class="user-profile-btn">Update Profile</a>
    {% endif %}

    <button class="cart-btn" onclick="goToCart()">🛒 Cart 
        <span id="cart-count">{{cart|length}}</span>
    </button>
    
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
    {% endif %}
</nav>
